In [89]:
import numpy as np

In [90]:
import pandas as pd

In [91]:
train = pd.read_csv('datasets/train.csv')
test = pd.read_csv('datasets/test.csv')

In [92]:
train = train.drop(columns=['id'])
train.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f110,f111,f112,f113,f114,f115,f116,f117,f118,claim
0,0.10859,0.004314,-37.566,0.017364,0.28915,-10.25100,135.12,168900.0,3.992400e+14,86.489,...,-12.2280,1.7482,1.90960,-7.11570,4378.80,1.2096,8.613400e+14,140.1,1.01770,1
1,0.10090,0.299610,11822.000,0.276500,0.45970,-0.83733,1721.90,119810.0,3.874100e+15,9953.600,...,-56.7580,4.1684,0.34808,4.14200,913.23,1.2464,7.575100e+15,1861.0,0.28359,0
2,0.17803,-0.006980,907.270,0.272140,0.45948,0.17327,2298.00,360650.0,1.224500e+13,15827.000,...,-5.7688,1.2042,0.26290,8.13120,45119.00,1.1764,3.218100e+14,3838.2,0.40690,1
3,0.15236,0.007259,780.100,0.025179,0.51947,7.49140,112.51,259490.0,7.781400e+13,-36.837,...,-34.8580,2.0694,0.79631,-16.33600,4952.40,1.1784,4.533000e+12,4889.1,0.51486,1
4,0.11623,0.502900,-109.150,0.297910,0.34490,-0.40932,2538.90,65332.0,1.907200e+15,144.120,...,-13.6410,1.5298,1.14640,-0.43124,3856.50,1.4830,-8.991300e+12,NaN,0.23049,1

In [93]:
X = train.drop(columns=['claim'])
y = train['claim']

In [94]:
X.describe()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f109,f110,f111,f112,f113,f114,f115,f116,f117,f118
count,942672.000000,942729.000000,942428.000000,942359.000000,942514.000000,942398.000000,942415.000000,9.425460e+05,9.426700e+05,942696.000000,...,942390.000000,942554.000000,942420.000000,942509.000000,942686.000000,942481.000000,942360.000000,9.423300e+05,942512.000000,942707.000000
mean,0.090201,0.345964,4068.744207,0.201214,0.304869,-0.071458,1620.843815,3.771642e+05,1.806054e+15,5323.442367,...,0.398622,-19.926398,2.074530,23.885245,1.748777,63152.973540,1.208876,4.276905e+16,3959.204669,0.559267
std,0.043564,0.146251,6415.829440,0.212510,0.145343,2.123777,1276.281403,3.454325e+05,2.335204e+15,10068.380032,...,0.298071,18.578439,0.895793,45.581360,10.088848,92435.016241,0.114959,6.732441e+16,3155.991777,0.408426
min,-0.149910,-0.019044,-9421.700000,-0.082122,-0.006990,-12.791000,-224.800000,-2.984300e+04,-1.153300e+15,-26404.000000,...,-0.042355,-105.860000,0.277040,-27.691000,-26.589000,-81977.000000,0.905270,-8.944400e+15,-415.240000,-0.151240
25%,0.070227,0.283050,418.430000,0.035086,0.240520,-1.120700,481.545000,9.120900e+04,1.153100e+13,75.876750,...,0.113780,-28.812000,1.487700,-0.628880,-4.473975,2443.200000,1.146800,2.321100e+14,1306.200000,0.276560
50%,0.090135,0.389100,1279.500000,0.137000,0.327790,-0.380110,1446.100000,2.896700e+05,5.043050e+14,1073.200000,...,0.359220,-14.636000,1.662100,1.727700,0.885710,19479.000000,1.177200,1.327500e+16,3228.000000,0.473440
75%,0.116500,0.458450,4444.400000,0.297100,0.412830,0.921940,2495.900000,5.605600e+05,3.103100e+15,5693.200000,...,0.624280,-5.325300,2.522325,18.991000,6.840775,88488.000000,1.242000,5.278700e+16,6137.900000,0.746210
max,0.415170,0.518990,39544.000000,1.319900,0.554750,11.202000,5426.600000,1.913700e+06,1.042400e+16,85622.000000,...,1.123600,1.613400,4.565900,217.840000,47.757000,526050.000000,1.886700,3.249900e+17,13151.000000,2.743600

In [95]:
X.isnull().sum()

f1      15247
f2      15190
f3      15491
f4      15560
f5      15405
        ...
f114    15438
f115    15559
f116    15589
f117    15407
f118    15212
Length: 118, dtype: int64

In [96]:
X.shape

(957919, 118)

In [97]:
X[X['f1'].isnull()]

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f109,f110,f111,f112,f113,f114,f115,f116,f117,f118
51,NaN,0.271780,406.700,0.002204,0.297680,-1.54720,638.90,63404.0,3.372000e+14,37.277,...,0.769280,-0.14702,3.7175,1.30440,-2.81610,25339.00,1.2042,1.863500e+17,645.69,0.64583
127,NaN,0.479470,-65.067,0.029566,0.300620,0.40239,3928.70,344660.0,4.278300e+14,6613.800,...,0.143370,-42.49400,1.7043,-2.29070,-8.07470,11953.00,1.4716,4.088000e+13,5827.80,0.36847
281,NaN,0.304450,677.020,0.043649,0.311150,1.41540,2005.30,255730.0,1.633400e+15,1263.100,...,0.063698,-62.19100,2.7779,3.60570,4.79510,9670.10,1.1917,9.083200e+16,4816.40,0.35410
297,NaN,0.451890,407.180,0.440000,0.235530,-1.35870,359.31,407060.0,2.954000e+15,14336.000,...,-0.002940,-0.39556,1.9789,2.08150,-2.78080,3743.90,1.1881,2.721900e+14,8898.60,0.16052
344,NaN,0.497790,1887.100,0.287000,-0.002191,-0.17440,2796.60,378570.0,3.376400e+14,16.217,...,0.830200,-23.61700,1.7214,NaN,3.87790,27084.00,1.1524,1.393500e+16,2221.80,0.20749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
957785,NaN,0.002492,-1140.000,0.019253,0.332310,-0.70586,795.41,345440.0,7.455900e+12,791.300,...,0.268220,-0.20679,1.5318,-3.32440,2.01330,117320.00,1.2578,5.022800e+16,2110.80,0.90192
957801,NaN,0.497880,2631.700,0.590110,-0.005218,-4.16410,118.32,41433.0,-7.841800e+12,1633.300,...,0.125770,-32.49700,1.4920,0.95403,-8.46920,-349.11,1.1726,1.435800e+15,7490.10,1.34750
957810,NaN,0.485200,17075.000,0.140110,0.003226,-0.97246,2929.60,143910.0,-8.859100e+13,-104.760,...,0.467760,-39.50100,1.8828,2.64170,-0.43623,5162.80,1.1798,8.939900e+16,3442.80,0.30301
957826,NaN,0.396950,4463.800,0.238530,0.349820,NaN,1805.50,594150.0,3.563500e+15,12538.000,...,0.492140,-8.79540,1.5404,-0.30432,3.26950,36023.00,1.3548,3.076400e+13,2014.70,0.11739
957867,NaN,0.346860,3717.400,0.646540,0.435000,1.42070,2025.30,258160.0,9.519900e+13,377.180,...,0.529030,-17.45300,1.5989,1.92270,-2.83100,139090.00,1.0853,2.736400e+14,1726.80,0.93526

In [98]:
X['f1'].nunique()

147965

In [99]:
cols = X.columns
cols

Index(['f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10',
       ...
       'f109', 'f110', 'f111', 'f112', 'f113', 'f114', 'f115', 'f116', 'f117',
       'f118'],
      dtype='object', length=118)

In [100]:
num_of_uniques = []
num_of_values = []
num_of_nans = []
for col in cols:
    num_of_uniques.append(X[col].nunique())
    num_of_values.append(X[col].count())
    num_of_nans.append(X[col].isnull().sum())

In [101]:
ana_df = pd.DataFrame({'feature':cols, 'values': num_of_values, 'uniques':num_of_uniques, 'Nans': num_of_nans})

In [102]:
ana_df.sort_values('uniques', ascending=True)

    feature  values  uniques   Nans
96      f97  942654      429  15265
53      f54  942494     7459  15425
114    f115  942360    12970  15559
68      f69  942367    14049  15552
70      f71  942437    30980  15482
..      ...     ...      ...    ...
34      f35  942585   357008  15334
72      f73  942382   357058  15537
91      f92  942427   362662  15492
8        f9  942670   368025  15249
9       f10  942696   370266  15223

[118 rows x 4 columns]

In [103]:
X.describe()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f109,f110,f111,f112,f113,f114,f115,f116,f117,f118
count,942672.000000,942729.000000,942428.000000,942359.000000,942514.000000,942398.000000,942415.000000,9.425460e+05,9.426700e+05,942696.000000,...,942390.000000,942554.000000,942420.000000,942509.000000,942686.000000,942481.000000,942360.000000,9.423300e+05,942512.000000,942707.000000
mean,0.090201,0.345964,4068.744207,0.201214,0.304869,-0.071458,1620.843815,3.771642e+05,1.806054e+15,5323.442367,...,0.398622,-19.926398,2.074530,23.885245,1.748777,63152.973540,1.208876,4.276905e+16,3959.204669,0.559267
std,0.043564,0.146251,6415.829440,0.212510,0.145343,2.123777,1276.281403,3.454325e+05,2.335204e+15,10068.380032,...,0.298071,18.578439,0.895793,45.581360,10.088848,92435.016241,0.114959,6.732441e+16,3155.991777,0.408426
min,-0.149910,-0.019044,-9421.700000,-0.082122,-0.006990,-12.791000,-224.800000,-2.984300e+04,-1.153300e+15,-26404.000000,...,-0.042355,-105.860000,0.277040,-27.691000,-26.589000,-81977.000000,0.905270,-8.944400e+15,-415.240000,-0.151240
25%,0.070227,0.283050,418.430000,0.035086,0.240520,-1.120700,481.545000,9.120900e+04,1.153100e+13,75.876750,...,0.113780,-28.812000,1.487700,-0.628880,-4.473975,2443.200000,1.146800,2.321100e+14,1306.200000,0.276560
50%,0.090135,0.389100,1279.500000,0.137000,0.327790,-0.380110,1446.100000,2.896700e+05,5.043050e+14,1073.200000,...,0.359220,-14.636000,1.662100,1.727700,0.885710,19479.000000,1.177200,1.327500e+16,3228.000000,0.473440
75%,0.116500,0.458450,4444.400000,0.297100,0.412830,0.921940,2495.900000,5.605600e+05,3.103100e+15,5693.200000,...,0.624280,-5.325300,2.522325,18.991000,6.840775,88488.000000,1.242000,5.278700e+16,6137.900000,0.746210
max,0.415170,0.518990,39544.000000,1.319900,0.554750,11.202000,5426.600000,1.913700e+06,1.042400e+16,85622.000000,...,1.123600,1.613400,4.565900,217.840000,47.757000,526050.000000,1.886700,3.249900e+17,13151.000000,2.743600

In [104]:
y.value_counts()

0    480404
1    477515
Name: claim, dtype: int64

In [105]:
X1 = X.fillna(X.mean())

In [106]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X1_scaled = scaler.fit_transform(X1)

In [107]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X1_scaled, y, test_size=0.2, random_state=0)

In [108]:
from sklearn.decomposition import PCA
pca = PCA(n_components=5)
pca.fit(X_train)

PCA(n_components=5)

In [109]:
X_train = pca.transform(X_train)
X_test = pca.transform(X_test)

In [110]:
X_train = X_train[:, :10]

In [111]:
from sklearn.linear_model import SGDClassifier
clf = SGDClassifier()
clf.fit(X_train, y_train)

SGDClassifier()

In [112]:
y_pred = clf.predict(X_test[:, :10])

In [113]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
accuracy_score(y_test, y_pred)

0.5042696676131618